<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% block selected_about_page %} {% endblock %}">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>

          </li>
          <li class="nav-item {% block selected_download_page %} {% endblock %}" >
            <a class="nav-link" href="{{ url_for('download') }}">Download</a>
          </li>
          <li class="nav-item {% block selected_statistics_page %} {% endblock %}">
            <a class="nav-link" href="{{ url_for('statistics') }}">Statistics</a>
          </li>

        </ul>
      </div>
    </nav>

    <div class="container">
        <div class="col">
            <h1>
                {% block content_title %}

                {% endblock %}
            </h1>

            {%block content %}

            {% endblock %}

        </div>
    </div>

</body>
</html>