{% extends 'base.html' %}

{% block title %}
<title>Statistics | VK STATS</title>
{% endblock %}

{% block selected_statistics_page %} active {% endblock %}

{% block content_title %}
<div class="col-md-6 container-fluid" >
            Statistics page
</div>
{% endblock %}

{% block content %}
<div class="col-md-6 container-fluid">
    <form action="{{ url_for('statistics')}}" method="POST">

            <div class="form-group">
                {{ form.id_.label(class='control-label') }}
                {{ form.id_(class='form-control') }}
            </div>
            <div class="form-group">
                {{ form.date.label(class='control-label') }}
                {{ form.date(class='form-control') }}
            </div>
        {% for subfield in form.radio %}
         <tr>
           <td>{{ subfield }}</td>
           <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
        </br>

        <button type="submit" class="btn btn-primary">Generate</button>
    </form>

    <div class="container" >
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <span> {{ message }} </span>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

</div>

  <div class="container">
     {% if figure %}
      <img src="data:image/png;base64,{{ figure }}">
    {% endif %}
    </div>

{% endblock %}


